@import "tailwindcss";

@custom-variant dark (&:where(.dark , .dark *));
/* Định nghĩa màu sắc cho chế độ sáng */

html,body{
  margin :0;
  padding :0;
  font-family: "Space Grotesk", sans-serif;
}
/* index.css */
/* index.css */
@layer utilities {
  .animate-spin-slow {
    animation: spin 10s linear infinite;
  }
  .animate-spin-fast {
    animation: spin 0.01ms linear infinite;
  }
  .hover-scale{
    @apply transition-colors transform hover:scale-[1.02] duration-200;
  }
}
